{{!-- components/nav-main --}}
<nav class="nav-main nav-mobile">
	<ul class="nav-main__list" itemscope itemtype="http://schema.org/SiteNavigationElement" role="menu" tabindex="0">
		{{#each navitem}}
				<li class="level0 nav-{{inc @index}} level-top{{#if this.class}} {{this.class}}{{/if}}" role="presentation">
				{{#if this.flyout}}
					<span
							href="{{#if this.link}}{{this.link}}{{else}}/{{/if}}"
							class="level-top"
							aria-haspopup="true"
							tabindex="-1"
							role="menuitem">
						<span class="pointer"></span>
						<div>
							{{#each this.title}}
								<span>{{this.rowone}}</span>
								<span>{{this.rowtwo}}</span>
							{{/each}}
						</div>
					</span>
					<div class="level0 nav-main__flyout">
						<ul role="menu" aria-hidden="true" aria-="false">
							<li class="level1 nav-3-1" role="presentation">
								<a
										href="/"
										aria-haspopup="true"
										class=""
										tabindex="-1"
										role="menuitem">
									<span>Eintrag 1</span>
								</a>
								<ul class="nav-mobile__vertical">
									<li class="level2 nav-4-1" role="presentation">
										<a href="/">
											<span>Eintrag 1</span>
										</a>
									</li>
									<li class="level2 nav-4-2" role="presentation">
										<a href="/">
											<span>Eintrag 2</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="level1 nav-3-2" role="presentation">
								<a
										href="/"
										aria-haspopup="true"
										class=""
										tabindex="-1"
										role="menuitem">
									<span>Eintrag 2</span>
								</a>
								<ul class="nav-mobile__vertical">
									<li class="level2 nav-4-1" role="presentation">
										<a href="/">
											<span>Eintrag 1</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="level1 nav-3-3" role="presentation">
								<a
										href="/"
										aria-haspopup="true"
										class=""
										tabindex="-1"
										role="menuitem">
									<span>Eintrag 3</span>
								</a>
								<ul class="nav-mobile__vertical">
									<li class="level2 nav-4-1" role="presentation">
										<a href="/">
											<span>Eintrag 1</span>
										</a>
									</li>
									<li class="level2 nav-4-2" role="presentation">
										<a href="/">
											<span>Eintrag 2</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="level1 nav-3-4" role="presentation">
								<a
										href="/"
										aria-haspopup="true"
										class=""
										tabindex="-1"
										role="menuitem">
									<span>Eintrag 4</span>
								</a>
							</li>
							<li class="level1 nav-3-5" role="presentation">
								<a
										href="/"
										aria-haspopup="true"
										class=""
										tabindex="-1"
										role="menuitem">
									<span>Eintrag 5</span>
								</a>
							</li>
						</ul>
					</div>
				{{else}}
					<a
							href="{{#if this.link}}{{this.link}}{{else}}/{{/if}}"
							class="level-top"
							aria-haspopup="true"
							tabindex="-1"
							role="menuitem">
						<div>
							{{#each this.title}}
								<span>{{this.rowone}}</span>
								<span>{{this.rowtwo}}</span>
							{{/each}}
						</div>
					</a>
				{{/if}}
				</li>
			{{else}}
				<li class="level0 nav-1 level-top" role="presentation">
					<a
							href="index.html"
							class="level-top"
							aria-haspopup="true"
							tabindex="-1"
							role="menuitem">
						<div>
							<span>Home</span>
						</div>
					</a>
				</li>
				<li class="level0 nav-2 level-top" role="presentation">
					<a
							href="creator.html"
							class="level-top"
							aria-haspopup="true"
							tabindex="-1"
							role="menuitem">
						<div>
							<span>Über den Entwickler</span>
						</div>
					</a>
				</li>
				<li class="level0 nav-3 level-top" role="presentation">
					<a
							href="projekt.html"
							class="level-top"
							aria-haspopup="true"
							tabindex="-1"
							role="menuitem">
						<span class="pointer"></span>
						<div>
							<span>Das Projekt</span>
						</div>
					</a>
				</li>
				<li class="level0 nav-4 level-top" role="presentation">
					<a
							href="neighbour.html"
							class="level-top"
							aria-haspopup="true"
							tabindex="-1"
							role="menuitem">
						<span class="pointer"></span>
						<div>
							<span>Für die Teilnehmer</span>
						</div>

					</a>
				</li>
		{{/each}}
	</ul>
</nav>
